#canvas {
	border-radius: 50%;
	image-rendering: -moz-crisp-edges;
	cursor: none;
	background: transparent;
}

#canvas-overflow {
	overflow: hidden;
	width: 96px;
	height: 96px;
}

#canvas-container {
	display: block;
	position: relative;
}

#color-preview {
	width: 28px;
	box-shadow: 0px 0px 0px black;
	border: solid 1px #fff;
	margin-left: 3px;
	margin-right: 5px;
}

#color-value-list {
	-moz-user-select:text;
	min-width: 180px;
}

#color-value-list > .menulist-label-box > .menulist-label {
	text-align: start;
	-moz-padding-start: 1em;
}

#canvas-container {
	transform-origin: 50% 50%;
}
